h2 {
  font-weight: 600;
  color: $text-color;
}

p {
  font-size: 22px;
  color: $text-color;
}

.form {
  color: #393836;
  font-size: 20px;
}

.contact-card {
  background-color: #c4b0a2af;
}

.btn {
  background-color: #9b816a;
  color: white;
  min-width: 160px;

  &:hover {
    color: white;
    background-color: #74614f;
  }
}

.fa {
  color: #9b816a;
}
