.news-card {
  width: 340px;
  border: 4px solid #d3ad5e;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.news-card:hover {
  border-color: rgba(13, 109, 253, 0.432);
  box-shadow: 0px 0px 10px 2px rgba(13, 109, 253, 0.452);
  transform: translateY(-5px);
}

.card-img {
  height: 250px;
}

.card-title {
  font-size: 27px;
  color: $text-color;
}

.card-text {
  color: $text-color;
  font-size: 25px;
}
