.terms_section {
  align-items: center;
  justify-content: space-between;
}
.terms_details .content {
  padding: 80px;
  color: #393836;
}
.terms_details .content h2 {
  padding: 20px 0;
  font-size: 35px;
  color: $text-color;
}

.terms_details .content li {
  font-size: 20px;
}

ul.dash {
  list-style-type: "- ";
}
