.vision_section {
  align-items: center;
  justify-content: space-between;
}
.vision_details .content {
  padding: 80px;
  color: #393836;
}
.vision_details .content h2 {
  padding: 20px 0;
  font-size: 35px;
  color: #373634;
}

.vision_details .content li {
  font-size: 20px;
}

ul.dash {
  list-style-type: "- ";
}
