@import url("./main.css");
.briefpage {
  width: 100%;
  overflow: hidden;
}
.briefContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.briefContainer .image img {
  width: 600px;
  height: auto;
}
.briefContainer .detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 50px;
}
.briefContainer .detailsContainer .right {
  width: 70%;
}
.detailsContainer .details {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin: 20px 130px 0px 0px;
}
.detailsContainer .details .img img {
  width: 100px;
  height: 75px;
  margin-right: 35px;
}
.detailsContainer .details .title p {
  font-family: UbuntuBold;
  white-space: nowrap;
  text-align: left;
  font-size: 25px;
  margin: 0px 0px 10px 0px;
}

.detailsContainer .details .desc p {
  width: 500px;
  text-align: left;
  margin: 0;
}

.detailsContainer .details > * {
  text-align: center;
  margin: 25px 0px 0px 0px;
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .briefContainer .detailsContainer {
    width: 377px;
  }
  .briefContainer .detailsContainer .right {
    width: auto;
  }
  .detailsContainer .details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin: 0px 65px 20px 0px;
  }
  .detailsContainer .details .img img {
    width: 75px;
    height: 50px;
    margin-right: 10px;
  }
  .detailsContainer .details .title p {
    font-size: 15px;
  }
  .detailsContainer .details .desc p {
    width: auto;
    text-align: left;
    margin: 0;
    font-size: 12px;
  }
  .briefContainer .image img {
    width: 70%;
    height: auto;
  }
}
