* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

/* Start adding fonts */
@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: UbuntuLight;
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}
@font-face {
  font-family: UbuntuMedium;
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: UbuntuBold;
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}
/* End adding fonts */
