* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.SectionOne {
  height: auto;
  position: relative;
}

.carousel button {
  opacity: 0;
}
.myContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.content .text {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-basis: 28%;
  z-index: 1;
}
.content .text p {
  font-size: 15px;
  width: 100%;
  padding: 5px;
  font-family: Ubuntu;
  margin: 0;
  text-align: justify;
}

.down {
  position: relative;
  top: 400px;
  left: 100px;
}

.down .order p {
  position: absolute;
  font-size: 25px;
  color: #3a322e;
  padding: 2px 30px 2px 30px;
  border-radius: 20px 20px 0px 20px;
  font-family: Ubuntu;
  border: 1px solid #3a322e;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.down .order p:hover {
  background-color: #3a322e;
  color: #fff;
}

.down .title,
.down .desc {
  position: relative;
  top: 60px;
}
.down .title p {
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px #3a322e;
  text-shadow: 2px 2px 4px #000000;
  line-height: 75px;
}
.down .desc p {
  color: #fff;
  font-family: Ubuntu;
  font-size: 30px;
  text-align: justify;
}
@media (max-width: 1200px) {
  .down {
    top: 100px;
  }
}

@media (max-width: 992px) {
  .text {
    flex-basis: 80%;
  }
  .down {
    display: none;
  }
}
@media (max-width: 768px) {
  .text:not(:first-child) {
    display: none;
  }
}
